.Home {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
}

/* .worldmap {
  background-position: center; https://css-tricks.com/snippets/css/a-guide-to-flexbox/
} */

.worldmap {
  padding-bottom: 15px;
}

.Countries {
  background-color: #ebe1ca;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 60px;
}
.Countries ul {
  column-width: 200px;
  column-gap: 2em;
  padding-bottom: 25px;
}

.Countries a {
  display: block;
  text-decoration: none;
  padding: 2px 0;
  font-size: large;
}

.Countries a:hover {
  color: #c16200;
}

.wordcloud {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  font-weight: bold;
}

/* mobile version is bad, dont know how to edit chart or svg */
@media screen and (max-width: 640px) {
  h1 {
    font-size: 45px;
  }
  .Countries ul {
    column-count: 1;
    text-align: center;
  }
  svg {
    width: 200px;
  }
}
